@import './mixins/base';

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?37291649');
  src: url('./font/fontello.eot?37291649#iefix') format('embedded-opentype'),
       url('./font/fontello.woff2?37291649') format('woff2'),
       url('./font/fontello.woff?37291649') format('woff'),
       url('./font/fontello.ttf?37291649') format('truetype'),
       url('./font/fontello.svg?37291649#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
   
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-warning:before { content: '\e801'; } /* '' */
.icon-warning-empty:before { content: '\e802'; } /* '' */
.icon-attention-alt:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-adjust:before { content: '\e805'; } /* '' */
.icon-comment-alt:before { content: '\e806'; } /* '' */
.icon-ok-circle:before { content: '\e807'; } /* '' */
.icon-emo-surprised:before { content: '\e808'; } /* '' */
.icon-cancel-circle:before { content: '\e809'; } /* '' */