//Controls
$control-color: #495057;
$control-border-color: #ced4da;
$control-placeholder-color: #BBB;
$control-hint-text-color: #6c757d;

// Buttons
$color-button-default-font: #333;
$color-button-default: #EAEAEA;

$color-accept: #1b6a99;
$color-info : $color-accept;
$color-success: #519a39;
$color-warning: #d8842b;
$color-danger: #d64d4d;
$color-disabled: #CCC;
$color-dark: #343a40;
$color-light: #f8f9fa;

// Text color

.text-info {
    color: $color-info;
}

.text-success {
    color:$color-success;
}

.text-warning {
    color: $color-warning;
}

.text-danger {
    color: $color-danger;
}

.text-disabled {
    color:$color-disabled;
}

.text-dark {
    color: $color-dark;
}

.text-light {
    color: $color-light;
}

//Background color

@mixin bg-color($color) {
    background-color: $color !important;
    color: #FFF !important;
}

.bg-info {
    @include bg-color($color-info);
}

.bg-success {
    @include bg-color($color-success);
}

.bg-warning {
    @include bg-color($color-warning);
}

.bg-danger {
    @include bg-color($color-danger);
}

.bg-disabled {
    @include bg-color($color-disabled);
}

.bg-dark {
    @include bg-color($color-dark);
}

.bg-light {
    background-color: $color-light;
    color: $color-dark;
}
