.control {
    padding: 7px 5px;
    color: $control-color;
    border: 1px solid $control-border-color;
    border-radius: 2px;
    width: 100%;

    &::placeholder {
        color: $control-placeholder-color;
    }
}

input.control, textarea.control {
    padding: .375rem .75rem;
}

.control-hint-text {
    display: block;
    color: $control-hint-text-color;
    margin-top: .25rem;
    margin-right: 2.5rem;
}

.control-group
{
    width: 100%;
    margin-bottom: 0.4rem;
}

// Inputs con iconos

$br: 5px;

.i-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
}

.i-input {
    @extend .control;
    outline: none;
    border-left: 0;
    border-radius: 0 $br $br 0;
}

.i-input:focus {
    border-width: 1px;
    border-color: #628396;
    border-style: solid;
}

.i-icon {
    padding: 10px;
    background-color: #BBB;
    color: white;
    min-width: 2.5rem;
    text-align: center;
    border-radius: $br 0 0 $br;
}