@import './colors';
@import './utils';
@import './buttons';
@import './controls';
@import './grid-system/base';
@import './badge/base';
@import './toastr/base';
@import './icons/base';

* {
    box-sizing: border-box;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}